@mixin button ($color,$bg-color){
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    margin: .4em;
    border-radius: 30px;
    color: $color;
    font-family: portfolio;
    font-size: 8em;
    &:hover{
    color: $bg-color;
    }
}

@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

@mixin zero {
  padding: 0;
  margin: 0;
}

@mixin icon-button {
  float: right;
  color: $gold;
  text-decoration: none;
    &:before{
    display: inline-block;
    padding: 13px 11px;
 }
}

@mixin showhide{
  display: none;
  position: relative;
  transition: all 150ms linear;
}

@mixin img {
  width: 100%;
}

@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

@mixin showhide{
  display: none;
  position: relative;
  transition: all 150ms linear;
}
