body {
  margin: 0;
  padding: 0;
}

html {
  background-color: $black;
  color: $gold;
  box-sizing: border-box;
  *, *:before, *:after {
    box-sizing: inherit;
  }
}

a {
  text-decoration:none;
}

.skip-links {
  margin:0;
  padding:0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
  color: $black;
  background-color: $gold;
  padding: .5em;

  z-index: 2000000;

}

.skip-links a:focus {
  top: 0;
}

#toggle-nav span,
#toggle-nav span:before,
#toggle-nav span:after {
  cursor: pointer;
  height: 5px;
  width: 35px;
  background-color: $gold;
  position: absolute;
  display: block;
  content: '';

  transition: all 250ms ease-in-out;

}

#toggle-nav span:before {
  top: -10px;
}
#toggle-nav span:after {
  bottom: -10px;
}

#toggle-nav.active span {
  background-color: transparent;
}

#toggle-nav.active span:before,
#toggle-nav.active span:after {
  top: 0;
}

#toggle-nav.active span:before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform:rotate(45deg);
}

#toggle-nav.active span:after {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform:rotate(-45deg);
}

.hb-toggle {
  margin-right: 2em;
  transition: all 250ms ease-in-out;
}

/* --------- Sticky Navigation ----- */

.top-nav {
  padding: .65em 2em;
  position: fixed;
  z-index: 10000;
  transition: all 250ms linear;

 li:last-child {
  position: fixed;
  right: 2em;
  }
}

/* --------- Side Navigation ----- */

.side-nav {
  position: fixed;
  visibility: hidden;
  background-color: rgba(17, 17, 17, .6);
  width: 100%;
  height: 100%;
  right: -20em;
  z-index: 999;
  opacity: 0;
  transition: all 250ms linear;
}

.side-nav[data-state="active"] {
  opacity: 1;
  right: 0em;
  visibility: visible;
  top: 0em;
}

.sn-container {
  position:fixed;
  height: 100%;
  right: 0;
  display: block;
  padding: 4em 3em;
  background-color: $black;

  li {
    padding-top: 1em;
    width: 10em;
    left: 0;
    padding-left: 80%;
    text-align: right;
    display: block;
    margin-bottom: .5em;
    border-bottom: 2px solid $gold;
    &:hover,
    &:focus,
    &:active{
      width: 10em;
      border-bottom: 20em;
      border-bottom: 2px solid $gold;
      background-color: #28281E;
      background-size: 4em;
    }

  }

  a {
    width: 10em;
    text-decoration: none;
    text-align: right;
    color: $gold;
    padding: .5em 0 .5em;
    transition: all 250ms linear;
    }
  }

.square {
  text-align: center;
  padding-top: 15em;
  padding-bottom: 20em;
  height: 20em;
}

.logo {
  height: 12em;
}

.logo-corner {
  height:3em;
  margin: 1em 0 0  1em;
}

//Instagram
#instagram {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: -.5vw;
    margin-left: -.5vw;
    /* margin-right: -.5vw; */
}

@media screen and (max-width:600px) {
    .message {
        font-size: 1.1em;
        margin-bottom: 6vw
    }

    #instagram {
        margin-top: -6px;
        margin-left: -5.5vw;
        margin-right: -5.5vw
    }
}

#instagram:hover a {
    opacity: .8
}

#instagram a {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: calc(100% / 3);
    -ms-flex-preferred-size: calc(100% / 3);
    flex-basis: calc(100% / 3);
    line-height: 0;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    border: .5vw solid transparent
}

@media screen and (min-width:1450px) {
    #instagram a {
        -webkit-flex-basis: calc(100% / 4);
        -ms-flex-preferred-size: calc(100% / 4);
        flex-basis: calc(100% / 4)
    }
}

@media screen and (max-width:1050px) {
    #instagram a {
        -webkit-flex-basis: calc(100% / 2);
        -ms-flex-preferred-size: calc(100% / 2);
        flex-basis: calc(100% / 2)
    }
}

@media screen and (max-width:900px) {
    #instagram a {
        -webkit-flex-basis: calc(100% / 4);
        -ms-flex-preferred-size: calc(100% / 4);
        flex-basis: calc(100% / 4)
    }
}

@media screen and (max-width:750px) {
    #instagram a {
        -webkit-flex-basis: calc(100% / 3);
        -ms-flex-preferred-size: calc(100% / 3);
        flex-basis: calc(100% / 3)
    }
}

#instagram a:hover {
    opacity: 1
}

#instagram img {
    width: 100%
}

//error-page
.error {
  padding-bottom: -1em;
  text-align: center;
}

.error h1 {
  padding-top:3em;
  font-size: 3em;
  text-align: center;
}

.error p {
  text-align: center;
  padding-bottom: 2em;
}

.error a {
  border-top: 1.5px solid $black;
  border-bottom: 1.5px solid $black;
  padding: .25em;
  text-decoration: none;
  color: $gold;
  &:hover{
  border-top: 1.5px solid $gold;
  border-bottom: 1.5px solid $gold;
  }
}

.work {
  padding-top: 1em;
}

.grey {
    display: block;
    width: 100%;
    margin: 0 auto;
  }


//lightbox

.white {
  margin-top: 2em;
  background-color: white
}

#work1 {
 display: none;
 max-height: none;
}

#work2 {
  display: none;
  max-height: none;
}

#work1.open{
  display: block;

}
#work2.open{
  display: block;

}


#work3,
#work4,
#work5,
#work6
{
  display: none;

}


#work3.open,
#work4.open,
#work5.open,
#work6.open {
  display: block;
}

.black {
  color: $black;
}

hr {
   border-bottom: 1px solid #F8BE58;
   border-top: 1px solid #F8BE58;
}

img.work {
    width:15em;
    height: auto;
    display: block;
    margin-left: 10%;
}

@media only screen and (min-width: 25em) {
  img.work {
        width:15em;
        height: auto;
        display: block;
        margin-left: 15%;
    }
  }
@media only screen and (min-width: 38em) {
  img.work {
       width:13em;
       height: auto;
       display: block;
       margin-left: 15%;
   }
 }

 @media only screen and (min-width: 60em) {
   img.work {
          width:15em;
          height: auto;
          display: block;
          margin-left: 20%;
      }
}

img.work2 {
  width:50%;
  height: auto;
  display: block;
  margin-left: 25%;
  padding-bottom: 2em;

}

.next p {
    text-align: right;
}

.next {
    width: 2em;
    position: fixed;
    right: 10px;
    top: 15em;
    display: none;
}

.previous {
    width: 2em;
    position: fixed;
    top: 15em;
    left:10px;
    display: none;
}

    .next,
    .previous {
    display: block;
    }


.previous:hover,
.next:hover{
border-bottom: 2px solid rgba(0,0,0,0.5);
}

.icon-left,
.icon-right {
    font-size: 2em;
    vertical-align: center;
    margin-top: 20px;
    position: relative;
    color: rgba(0,0,0,0.5);
}

hr {
    border-top: 1px dotted #8c8b8b;
	border-bottom: 1px dotted #fff;
    margin: 5px;
}

.icons a {
    text-decoration: none;
    color: black;
    font-size: 2em;
}

.icons a:hover {
    border-bottom: 2px solid #e41a50;
    color: #e41a50;
}

.icons {
    display: inline-block;
}


//social-footer
.social {
  text-align: center;
  margin-top: 2em;
  height:1.75em;
}

.social-group {
  text-align: center;
}

footer {
  position: relative;
  margin-top: 1em;
  background-color: $gold;
  height: 5.5em;
//  overflow: hidden;
//  position: absolute;
//  right: 0;
//  bottom: 0;
//  left: 0;
}
